__pycache__/ChordVerifier.cpython-314.pyc
__pycache__/fretboard_widget.cpython-314.pyc
__pycache__/guitar.cpython-314.pyc
__pycache__/midi_handler.cpython-314.pyc
__pycache__/target_chord.cpython-314.pyc
guitar_app.log
guitar_app.log
